<div class="w3-panel w3-card-4  header">
  <div class = "w3-left w3-padding-16">
    <h3><b> DASHBOARD </b></h3>

  </div>
<div>
<span class=" example-form  w3-right ">

  <div  class="example-full-width w3-padding-32">
<input  placeholder="Search" [(ngModel)]="searchText" >
</div>


</span>
</div>

</div>

<div class = "">
  <div class = "w3-container  innerContent">
  <mat-accordion>
    <div class = "w3-panel  header2">
          <div class = "w3-row">
            <div class = "w3-col m3">Set Id</div>
            <div class = "w3-col m3">Name</div>
            <div class = "w3-col m4">Status</div>
            <div class = "w3-col m2">Date Uploaded</div>
          </div>
    </div>
<div *ngFor = "let item of items | filter : searchText" >
    <mat-expansion-panel class = "cardDetails" >
      <mat-expansion-panel-header class = "contentHeader" (click) = "openItem($event,item)">

        <mat-panel-title>
         <div>{{item.set_id}} </div><div class = "nameClass"> {{item.name}}</div>


        </mat-panel-title>
        <mat-panel-description>
        <div class = "statusClass">  {{item.status}} </div>

        </mat-panel-description>
        <mat-card-subtitle class = "subtitle">
        <i class="fa fa-clock-o" ></i>  {{item.date_uploaded | date:'medium'}}
        </mat-card-subtitle>
      </mat-expansion-panel-header>

      <mat-form-field [color]="warn">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

      <div class="mat-elevation-z8 innerInnerBody">
                <table mat-table [dataSource]="dataSource" matSort>

                  <ng-container matColumnDef="set_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Set Id</th>
                    <td mat-cell *matCellDef="let row"> {{row.set_id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="doc_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Doc Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.doc_id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row" > {{row.status}} </td>
                  </ng-container>

                  <ng-container matColumnDef="uploader">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploader </th>
                    <td mat-cell *matCellDef="let row"> {{row.uploader}} </td>
                  </ng-container>

                  <ng-container matColumnDef="preview_url">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Preview Url </th>
                    <td mat-cell *matCellDef="let row"> {{row.preview_url}} </td>
                  </ng-container>

                  <ng-container matColumnDef="date_uploaded">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> dateUploaded </th>
                    <td mat-cell *matCellDef="let row" > {{row.date_uploaded | date:'medium'}} </td>
                  </ng-container>

                  <ng-container >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                    <td mat-cell *matCellDef="let row" > delete </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)" matTooltip="Click to edit details" >
                  </tr>
                </table>

                  <mat-paginator   [pageSizeOptions]="[3]"></mat-paginator>



              </div>

    </mat-expansion-panel>


</div>



  </mat-accordion>
</div>
</div>