.header{
margin-top: 0px;
height: 80px;
background-image: linear-gradient(to top, #403926 , #50472f, #403926);
color:#f1ebda;
}
.example-form {
  min-width:250px;
  max-width: 400px;
  color:white;
}

.example-full-width {
  max-width:400px;
  color: white;
}
.bodyContent{
  width:100%;
  margin-top: 0px;
min-height:550px;
}
.innerContent{
  background-color: #ece8df;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
min-height:600px;
}
.contentHeader{
min-height: 90px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 80px;;

  overflow: hidden;
    text-overflow: ellipsis;
}
tr{
background-color:  #a18e5e;
color: white;
}
td{
  background-color:  #ffffff
}
.innerInnerBody{
    background-color:  #f6f4ef;
    margin-bottom: 2%;
}
.cardDetails{
  margin-top:0.25%;
}
.dialogContent{
  margin:1%;
}
.subtitle{
  margin-right:1%;
}
.searchbar{
  margin-right:3%;
}
.header2{
  padding-top:10px;
  min-height:40px;
  margin-bottom:0px;
  background: #a18e5e;
}
.nameClass{
  margin-left:280px;
}
.statusClass{
  margin-left:50px;
}